@{
    ViewData["Title"] = "Welcome";
}


<div class="text-center ">
    <h1 class="display-4">Welcome to KNUST Maintenance System</h1>
    <h3>This system aims to streamline the operations of the maintenance department to enhance overall effiency.</h3><br>
    <a class="btn btn-primary btn-lg" type="submit" asp-controller="Movies" asp-action="Index">GET STARTED</a>
</div>