@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a target="_blank" href="https://knust.edu.gh">Kwame Nkrumah University of Science and Technology</a>.</p>
</div>
